build/
embedded_cicd_pipeline/build/
embedded_cicd_pipeline/build-arm/
embedded_cicd_pipeline/coverage_html/
embedded_cicd_pipeline/*.txt
embedded_cicd_pipeline/*.xml
embedded_cicd_pipeline/*.info
build-arm64/
build_daemon/
.venv/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
