Checks: 'clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,modernize-*,readability-*,bugprone-*,-modernize-use-trailing-return-type,-readability-magic-numbers,-readability-uppercase-literal-suffix,-readability-identifier-length,-cppcoreguidelines-avoid-magic-numbers'
WarningsAsErrors: '*'
HeaderFilterRegex: '^.*/include/.*'
